<!-- begin search -->
<div class="search">
    <div class="title">Search by</div>
    <div class="content">
        <form action="">
            <label for="key">Keyword</label>
            <input type="text" name="key" id="key"> <br>
            <label for="cat">Category</label>
            <select name="" id="cat" name="cat">
                <option value="">--Select category--</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <label for="from">Price</label>
            <input type="text" name="from" id="from" size="5"> to <input type="text" name="to" id="to" size="5"> <br>
            <input type="submit" value="search" name="submit" id="submit">
        </form>
        <div>
            <img src="images/bul.gif" alt="">
            <a href="#">Advanced search</a>
        </div>
        <div>
            <img src="images/bul.gif" alt="">
            <a href="#">Contact customer support</a>
        </div>
    </div>
</div>
<!-- end search -->
<!-- begin category -->
<div class="category">
    <div class="title">Category</div>
    <div class="content">
        <ul>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt="">  Category 1</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 2</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 3</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 4</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 5</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 6</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 7</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 8</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 9</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 10</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 11</a></li>
            <li><a href="#"><img src="~/Content/images/cat.gif" alt=""> Category 12</a></li>
        </ul>
    </div>
</div>
<!-- end category -->
