<ul>
    <li>
        <a href="#"><img src="images/big1.jpg" alt=""></a>
        <div class="label">
            <div class="heading">Lorem Ipsum</div>
            <div class="detail">
                <p class="gen">Woment</p>
                <p class="des">Lorem Ipsum Dolor Sit Amet</p>
                <p class="price">$58.99</p>
            </div>
        </div>
    </li>
    <li>
        <a href="#"><img src="images/big1.jpg" alt=""></a>
        <div class="label">
            <div class="heading">Lorem Ipsum</div>
            <div class="detail">
                <p class="gen">Woment</p>
                <p class="des">Lorem Ipsum Dolor Sit Amet</p>
                <p class="price">$58.99</p>
            </div>
        </div>
    </li>
    <li>
        <a href="#"><img src="images/big1.jpg" alt=""></a>
        <div class="label">
            <div class="heading">Lorem Ipsum</div>
            <div class="detail">
                <p class="gen">Woment</p>
                <p class="des">Lorem Ipsum Dolor Sit Amet</p>
                <p class="price">$58.99</p>
            </div>
        </div>
    </li>
</ul>
