*{
	box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
	.container{
		margin: 0px;
	    padding: 0px;
	}
.container h2{
	font-family: "SST W01 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
	font-style: normal;
	color: aliceblue;
	margin: 0px;
	padding: 0px;
}

.container .banner{
	background-image: url(banner.jpg);
	size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	height: 640px;	
}

.bao-ngoai{
	text-align: left;
}

.t1{
	width: 20%;
}
.nutbam{
	text-align: center;
    margin-top: 24px;
    height: 35px;
    background-color: rgb(80, 80, 252);
    line-height: 35px;
}

.nutbam a{
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 1px;
}

.bao-ngoai{
	margin-left: 17%;
	padding-top: 250px;
}

.list1 > li > a:hover	{
	border-bottom: 3px solid rgb(101, 124, 255) ;
}

.carousel-inner{
	width: 80%;
}

.carousel-control.right {
	right: 20%;
}

.ro img{
	max-height: 270px;
	width: 100%;
	background-position: top center;
}

.new{
	margin: 20px;
	position: center;
}
@media only screen and (max-width: 768px){
	*{
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
	}

	.col-mb{
		width: 100%;
	}

	.fas.fa-bars{
		color: aliceblue;
	}

	.container .banner{
		background-image: url(banner.jpg);
		size: 100%;
		background-position:center;
		background-repeat: no-repeat;
		height: 420px;	
	}

	.bao-ngoai{
		position: absolute;
		top: 490px;
		width: 100%;
		margin-left: 0px;
	    padding-top: 0px;
	}

	h2.t1{
		width: 100%;
		color: rgb(0, 0, 0);
		font-size: 20px;
	}

	.nutbam{
		width: 30%;
		height: 30px;
		text-align: center;
		line-height: 30px;
	}

	.new{
		position: absolute;
		margin-top: 100px;
		margin-left: 100px ;
	}
}