
@{
    ViewBag.Title = "Gcd";
}

<h2>Gcd</h2>
<form>
    <p>Typing first Number:</p>
    <input type="text" name="firstNum" id="fisrtNum" />
    <br />
    <p>Typing second Number:</p>
    <input type="text" name="secondNum" id="secondNum"/>
    <br />
    <button>Submit</button>
</form>

