@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    BaiTap1.Models.User u = ViewBag.user;
}

<h2>Index</h2> <br />
<h2>@u.id</h2> <br />
<h2>@u.name</h2> <br />
<h2>@u.address</h2> <br />
<h2>@u.email</h2> <br />
