@model BaiTap1.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    var u = Model;
}
<h2>Index</h2>
<br />
<h2>@Model.id</h2>
<br />
<h2>@Model.name</h2>
<br />
<h2>@Model.address</h2>
<br />
<h2>@Model.email</h2>
<br />

